*{
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: white;
    overflow: hidden;
    background-color: #90BE6D;
}
.bg-video-wrap {
    width: 100%;
    height: auto;
    background: url(/img/bookscan.mp4) no-repeat center center/cover;
}

video {
    min-width: 100%;
    height: auto;
    position: absolute;
}

.overlay {
    width: 100%;
    height: 150vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 10%,rgba(0,0,0,0.6) 100%);
    z-index: 2;
}

.container {
    background: transparent;
    position: relative;
    margin: auto;
    z-index: 10;

}

#heading {
    position:absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 100px;
    z-index: 3;

}
#sub-heading{
    position:absolute;
    top: 55%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    border-top-style: solid;
    border-top: #9a9a9a;
    letter-spacing: 5px;
}

