
.navbar {

    background: transparent;
    border: none;
    z-index: 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}


a::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgb(255,192,203);
    z-index: -1;
    transition: transform .3s ease;
}